img {
  width: 150px; 
  height: 150px;
  border: rgba(74, 181, 181, 0.988) solid 6px;
  border-style: outset;
  display: flex;
  justify-content: space-around;
}

body {
  box-sizing: border-box;
  background-color: rgb(51, 123, 123);
  border: rgba(26, 65, 65, 0.988) solid 2px;
  /* margin: auto; */
}

main {
  background-color: rgba(99, 222, 222, 0.207);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: rgba(230, 255, 255, 0.5);
  text-shadow: turquoise solid 2px;
  font-size: 40px;
}

canvas {
  height: 250px;
  width: 250px;
  background-color: rgba(230, 255, 255, 0.5);
  border: slategray double 6px;
}
